.DS_Store
Thumbs.db
*.sql
sql*

*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
.venv/
venv/
venv*/

.env
.env.*

*.log
logs/

*.sqlite3
*.db


.idea/
.vscode/

docker-compose.override.yml
*.pid
postgres_data/
pgdata/

.cache/
.tox/
coverage/

coverage.xml
*.cover
.hypothesis/
.pytest_cache/
htmlcov/
test_results/

dist/
build/
*.egg-info/
/ms-playwright/
/stats.txt
/data_dump.sql
/celerybeat-schedule


dumps/
main.py
.coverage